<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.market.dao.SmbmsBillDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.atguigu.market.bean.SmbmsBill">
        <id column="id" property="id" />
        <result column="billCode" property="billCode" />
        <result column="productName" property="productName" />
        <result column="productDesc" property="productDesc" />
        <result column="productUnit" property="productUnit" />
        <result column="productCount" property="productCount" />
        <result column="totalPrice" property="totalPrice" />
        <result column="isPayment" property="isPayment" />
        <result column="createdBy" property="createdBy" />
        <result column="creationDate" property="creationDate" />
        <result column="modifyBy" property="modifyBy" />
        <result column="modifyDate" property="modifyDate" />
        <result column="providerId" property="providerId" />
    </resultMap>

</mapper>
